<?xml version="1.0"?>
<!--
/**
 * Yireo EmailTester for Magento 
 *
 * @package     Yireo_EmailTester
 * @author      Yireo (http://www.yireo.com/)
 * @copyright   Copyright 2015 Yireo (http://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config>

    <modules>
        <Yireo_EmailTester>
            <version>1.0.30</version>
        </Yireo_EmailTester>
    </modules>

    <global>
        <blocks>
            <emailtester>
                <class>Yireo_EmailTester_Block</class>
            </emailtester>
        </blocks>

        <helpers>
            <emailtester>
                <class>Yireo_EmailTester_Helper</class>
            </emailtester>
        </helpers>

        <models>
            <emailtester>
                <class>Yireo_EmailTester_Model</class>
            </emailtester>
        </models>

        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <emailtester_add_html>
                        <type>singleton</type>
                        <class>Yireo_EmailTester_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </emailtester_add_html>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_action_predispatch>
                <observers>
                    <emailtester_controller_action_predispatch>
                        <type>singleton</type>
                        <class>Yireo_EmailTester_Model_Observer</class>
                        <method>controllerActionPredispatch</method>
                    </emailtester_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <emailtester>
                    <file>emailtester.xml</file>
                </emailtester>
            </updates>
        </layout>
        <translate>
            <modules>
                <Yireo_EmailTester>
                    <files>
                        <default>Yireo_EmailTester.csv</default>
                    </files>
                </Yireo_EmailTester>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <tools>
                                    <children>
                                        <emailtester translate="title" module="emailtester">
                                            <title>EmailTester GUI</title>
                                        </emailtester>
                                    </children>
                                </tools>
                                <config>
                                    <children>
                                        <emailtester translate="title" module="emailtester">
                                            <title>EmailTester options</title>
                                        </emailtester>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <emailtester before="Mage_Adminhtml">Yireo_EmailTester</emailtester>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <emailtester>
            <settings>
                <enabled>1</enabled>
                <limit_product>20</limit_product>
                <limit_customer>20</limit_customer>
                <limit_order>20</limit_order>
                <enable_jquery>1</enable_jquery>
                <enable_jqueryui>1</enable_jqueryui>
                <fix_header>0</fix_header>
            </settings>
        </emailtester>
    </default>
</config>
